@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

#main {
	/*width: 700px;
	height: 800px;
	margin: auto;*/
}

.board1 {
	width: 380px;
	height: 440px;
	margin: 25px auto;
	border: 2px solid #73B1B7;
	border-radius: 10px;
}

.board2 {
	width: 380px;
	height: 440px;
	margin: 25px auto;
	border: 2px solid #73B1B7;
	border-radius: 10px;
}

.smallBoard {
	width: 370px;
	height: 50px;
	margin: 5px auto;
	border: 2px solid #73B1B7;
	border-radius: 10px;
}

.displays {
	position: relative;
	margin: 25px;
}

.top {
	width: 330px;
	height: 330px;
	background: #008B8B;
	border-left: 1px solid #8DEEEE;
	border-bottom: 1px solid #8DEEEE;

}

.bottom {
	width: 330px;
	height: 330px;
	margin-top: 25px;
	background: #008B8B;
	border-left: 1px solid #8DEEEE;
	border-bottom: 1px solid #8DEEEE;
}

.grid {
	position: absolute;
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,0);
	margin-left: 30px;
	font-size: 0;
}

.aTops {
	width: 29px;
	height: 29px;
	border-top: 1px solid #8DEEEE;
	border-right: 1px solid #8DEEEE;
	display: table-cell;
	vertical-align: middle;

	font-weight: bold;
	color: white;
	text-align: center;
}

.aLeft {
	position: relative;
	width: 29px;
	height: 29px;
	border-top: 1px solid #8DEEEE;
	border-right: 1px solid #8DEEEE;
	display: block;
	line-height: 29px;

	font-weight: bold;
	color: white;
	text-align: center;
}

.points {
	position: relative;
	width: 29px;
	height: 29px;
	border-top: 1px solid #8DEEEE;
	border-right: 1px solid #8DEEEE;
	display: inline-block;


}

.highlight {
	background: rgba(144,144,144,0.9);
}

.hidezero {
	color: #008B8B;
}

.hole {
	/*position: relative;
    width: 10px;
    height: 10px;
	margin: 2px;
	border: 5px solid #8DEEEE;
	border-radius: 1%;
	display: table;*/
}


.panel {

	margin-top: 25px;
}

.topPanel {
	width: 275px;
	height: 350px;
	border: 2px solid #73B1B7;
	border-radius: 10px;
	display: inline-block;
}

.smallPanel{
	width: 260px;
	height: 50px;
	margin: 5px;
	border: 2px solid #73B1B7;
	border-radius: 10px;
	display: inline-block;
}

.console {
	position: relative;
	width: 275px;
	height: 350px;
	margin-top: 36px;
	display: block;
	background: rgba(144,144,144,0.6);
	border: 2px solid #73B1B7;
	border-radius: 10px;

	color: green;
}

.text {
	position: relative;
	width: 250px;
	height: 375px;
	margin: 12px;
	display: inline-block;
}

.buttons {
	position: relative;
	display: block;
	width: 150px;
	height: 40px;

	margin: 50px auto;
	border: 2px solid #cccccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	text-align: center;
	line-height: 40px;

	cursor: pointer;
}

.buttons:hover {
	background: rgba(169,169,169,0.3);
}

.target {
	background: rgba(250, 10, 10, 0.7);
}

.carrier {
	background: rgba(36,36,36,1);
}

.battleship {
	background: rgba(49,49,49,0.9);
}

.cruiser {
	background: rgba(64,64,64,0.9);
}

.destroyer {
	background: rgba(81,81,81,0.7);
}

.frigate {
	background: rgba(100,100,100,0.7);
}

.one {

}

.self {
}

.random {

}

.error {
	
}

.turn {

}

.hit {
	 width: 20px;
	 height: 2px;
	 position: absolute;
	 top: 13px;
	 left: 5px;
	 border-radius: 5px;
	 background: #eb0909;
	 transform-origin: center center;
	 transform: rotate(45deg);
	 animation: blow 0.5s ease-in;
}

@keyframes blow {
	0% {transform: scale(0);}
	1% {transform: rotate(45deg);}
	80% {transform: scale(1.7);}
	100% {transform: scale(1);}
}

.hit::after {
	content: '';
	width: 20px;
	height: 2px;
	position: absolute;
	border-radius: 5px;
	background: #eb0909;
	transform: rotate(90deg);
}

.miss {
	width: 20px;
	height: 2px;
	position: absolute;
	top: 13px;
	left: 5px;
	border-radius: 5px;
	background: #0099ff;
	transform-origin: center center;
	transform: rotate(45deg);
	animation: blow 0.5s ease-in;
}

@keyframes blow {
	0% {transform: scale(0);}
	1% {transform: rotate(45deg);}
	80% {transform: scale(1.7);}
	100% {transform: scale(1);}
}

.miss::after {
	content: '';
	width: 20px;
	height: 2px;
	position: absolute;
	border-radius: 5px;
	background: #0099ff;
	transform: rotate(90deg);
}

@keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}

@-webkit-keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}

@-moz-keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}
